//- ----------------------------------------------------------------
//- 페이지 초기 변수: Page Default Variables
//- ----------------------------------------------------------------
//- 현재 페이지 경로
-var curPage     = '/'
//- 주언어
	  웹 페이지에 주로 사용되는 언어를 설정합니다.
-var lang        = 'ko-KR'
//- IE 브라우저 호환성 모드
	  Internet Explorer 웹 브라우저의 호환성 보기 모드 설정
-var iecompat    = 'Edge'
//- 언어 인코딩
-var encoding    = 'UTF-8'
//- 문서 제목
	  페이지 제목을 간략하게 요약해서 입력합니다.
-var pageTitle   = ''

//- 메타: 설명
	  페이지의 주요 내용을 200~300자 내외로 자세하게 설명합니다.
-var description = ''
//- 메타: 키워드
	  페이지에서 중요한 키워드를 10개 미만으로 입력해주세요.
-var keywords    = ''
//- 메타: 제작자
	  제작사 또는 제작자 이름을 입력합니다.
-var author      = 'yamoo9'

//- ----------------------------------------------------------------
//- 라이브러리 사용 유무: JS Libraries
//- ----------------------------------------------------------------
//- Fontawesome 사용 유무 설정
	  http://fortawesome.github.io/Font-Awesome/
-var fontawesome     = true
-var fontawesome_ver = '4.2.0'

//- Modernizr 사용 유무 설정
	  http://modernizr.com/
-var modernizr       = true
-var modernizr_ver   = '2.8.3'

//- Detectizr 사용 유무 설정
	  http://barisaydinoglu.github.io/Detectizr/
-var detectizr       = true
-var detectizr_ver   = '1.5.0'

//- jQuery 사용 유무 설정
	  http://jquery.com/
-var jquery          = true
-var jquery_ver      = '2.1.3'

//- ----------------------------------------------------------------
//- 믹스인: Mixins
//- ----------------------------------------------------------------
include _mixins